<!DOCTYPE html>
<html>
  <head>
    <title>{{ .PageTitle }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="container-fluid">
      <a href="#">Home</a>
      <a href="/about">About</a>
    </nav>
    <div id="content" class="container-fluid">
